<h2 class="mt-4 text-center">Matheus Henrique Misumoto</h2>

<ul class="nav nav-pills flex-sm-column nav-justified">
  <li class="nav-item">
    <a class="nav-link"  href="https://matheusmisumoto.jor.br/" target="_blank">Site pessoal</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://github.com/matheusmisumoto" target="_blank">GitHub</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://youtube.com/matheusmisumoto" target="_blank">YouTube Gaming</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"href="https://twitch.tv/matheusmisumoto" target="_blank">Twitch</a>
  </li>
</ul>